<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.w0rm.crypto.db.mapper.CandlesMapper">

    <insert id="batchInsertIgnore" keyColumn="id" keyProperty="list.id" useGeneratedKeys="true">
        insert ignore into ${tableName}
        (ts, o, h,l, c, vol, volCcy)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.ts,jdbcType=BIGINT},
            #{item.o,jdbcType=DECIMAL},
            #{item.h,jdbcType=DECIMAL},
            #{item.l,jdbcType=DECIMAL},
            #{item.c,jdbcType=DECIMAL},
            #{item.vol,jdbcType=DECIMAL},
            #{item.volccy,jdbcType=DECIMAL}
            )
        </foreach>

    </insert>

</mapper>